<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- iisnode configuration -->
    <iisnode 
      nodeProcessCommandLine="&quot;%ProgramFiles%\nodejs\node.exe&quot;"
      loggingEnabled="true"
      logDirectory="iisnode"
      devErrorsEnabled="true"
      watchedFiles="*.js;*.json"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      appendToExistingLog="false"
      flushInterval="5000"
      enableXFF="false"
      promoteServerVars=""
      configOverrides="iisnode.yml"
      recycleSignalEnabled="false"
      gracefulShutdownTimeout="60000"
      />

    <!-- URL rewrite rules -->
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent" patternSyntax="Wildcard" stopProcessing="false">
          <match url="*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Handlers -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Security -->
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".json" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>

    <!-- HTTP Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Powered-By" value="iisnode" />
      </customHeaders>
    </httpProtocol>

    <!-- Compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <!-- Application pool recycling -->
    <applicationPool>
      <recycling>
        <periodicRestart schedule="0 2 * * *" />
      </recycling>
    </applicationPool>
  </system.webServer>

  <!-- Application settings -->
  <appSettings>
    <add key="NODE_ENV" value="production" />
  </appSettings>
</configuration>
